span {
	display: inline;
	}

.smtn{
	margin:auto;
} 

body {
	background-color:#92a192;
  text-align: center;
}

.text {
	padding-left: 5%;     
	padding-right: 5%;    
}

.size {
	width:85%;
	height:95%;
}


#img1 {
	width: 55%;
	height:15%;
}


.modalImgSize {
	margin-right: 100%;
	width: 40%;
	height: 50%;
}

.sizeC {
	width:50%;
	height:90%;
}
