{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="text">
	<br>
	<h1>Home</h1>
	<br>
	<p>It was a bright and sunny afternoon. It was Mr. Al's last. Mr. Al had invited six teachers to an office party, each person with something to hide, something Mr. Al was blackmailing them with. Before his demise, he handed everyone a weapon. Somewhere between 3:00pm and 7:00pm,the lights went out, and Mr.Al was found dead. Ms. Adams, Tormey, Mr.Reussner, Jose, Ms. Barr, and Mr. Lotze are all suspects to the crime. It is your job to find the murderer, what weapon they used, and where they commited the crime before the murderer can strike again. </p>
	<p>There are six suspects, six weapons, and nine rooms. Good luck.</p>
	<div>
		<button type="button" class="btn btn-secondary">Click here to solve</button>
	<div>
	<br>
	<p>Created by Edward Perko & Lucy Kronberg, inspired by Cluedo board game.
<div>
{% endblock %}
