{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}

  <h1>Home</h1>
  <p>It was a dark and stormy night. It was Mr.Boddy's last. Mr. Boddy had invited six members to a dinner party, each person with something to hide, something Mr. Boddy was blackmailing them with. Before his demise, he handed everyone a weapon. Somewhere between 5:00pm and midnight,the lights went out, and Mr.Boddy was found dead. Mrs. White, Ms. Peacock, Mr.Green, Prof.Plum, Col. Mustard, and Miss Scarlett are all suspects to the crime. It is your job to find the murderer, what weapon they used, and where they commited the crime before the murderer can strike again. </p>
  <p>There are six suspects, six weapons, and nine rooms. Good luck.</p>
<div>
  <button type="button" class="btn btn-secondary">Click here to solve</button>
<div>
<br>
<p>Created by Edward Perko & Lucy Kronberg, inspired by Cluedo board game.
{% endblock %}
