{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}page1{% endblock %}

{% block content %}
  <h1>This is Page 1</h1>

  <p>Lorem ipsum sit dolor amet.</p>
  
<div class="d-flex justify-content-around btn btn-light mb-3" >
 <div class="row">
  <div class="col">
  <input type="button"  class="btn p-2 bg-secondary" id="buttonS" value="Suspect">
  <p id="randomS"></p></div>
  <div class="col">
  <input type="button" class="btn p-2 bg-secondary" id="buttonW" value="Weapon">
  <p id="randomW"></p></div>
  <div class="col">
  <input type="button" class="btn p-2 bg-secondary" id="buttonR" value="Room">
  <p id="randomR"></p></div>
 </div>
</div>
 
  <pre>
    {{ dump_user_data }}
  </pre>

{% endblock %}
