{% extends "layout.html" %}

{% set active_page = "page2" %}

{% block title %}page2{% endblock %}

{% block content %}
 <h1>This is Page 2</h1>

  <p>Lorem ipsum</p>
		<label for="test">It was </label>
		<span style="width:200px;">
		  <select name="Suspect" required>
			<option value="0" disabled>Select a suspect:</option>
			<option value="White">Mrs. White</option>
			<option value="Mustard">Col. Mustard</option>
			<option value="Scarlett">Miss Scarlett</option>
			<option value="Green">Mr. Green</option>
			<option value="Plum">Prof. Plum</option>
			<option value="Peacock">Mrs. Peacock</option>
		  </select>
		</span>
	
		<label for="test"> in the </label>
  
		<span style="width:200px;">
		  <select name="Room" required>
			<option value="0" disabled>Select a room:</option>
			<option value="Kitchen">Kitchen</option>
			<option value="Lounge">Lounge</option>
			<option value="Conservatory">Conservatory</option>
			<option value="Billiard">Billiard room</option>
			<option value="Library">Library</option>
			<option value="Dining">Dining room</option>
			<option value="Ballroom">Ballroom</option>
			<option value="Study">Study</option>
			<option value="Hall">Hall</option>
		  </select>
		</span>

		 <label for="test"> with the </label>

		<span style="width:200px;">
		  <select name="Weapon" required>
			<option value="0" disabled>Select a weapon:</option>
			<option value="Rope">Rope!</option>
			<option value="Dagger">Dagger!</option>
			<option value="Revolver">Revolver!</option>
			<option value="Candlestick">Candlestick!</option>
			<option value="Pipe">Lead pipe!</option>
			<option value="Wrench">Wrench!</option>
		  </select>
		</span>
		</p>
		
		
		<button type="submit" class="btn btn-secondary mt-3">Submit</button>
  
{% endblock %}
