{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}Cards{% endblock %}

{% block content %}
  <h1>Cards</h1>
  <p>Get a hand of 3 cards to start solving. Tip! The cards you get tell you who DIDN'T do it, where it WASN'T, WHAT it wasn't</p>
  
<div class="d-flex justify-content-around btn btn-light mb-3" >
 <div class="row">
  <div class="col">
  <input type="button"  class="btn p-2 bg-secondary smtn" id="buttonS" value="Suspect">
  <p id="randomS">{{ hintS1 }}</p></div>
  <div class="col">
  <input type="button" class="btn p-2 bg-secondary smtn" id="buttonR" value="Room">
  <p id="randomR">{{ hintR1 }}</p></div>
  <div class="col">
  <input type="button" class="btn p-2 bg-secondary smtn" id="buttonW" value="Weapon">
  <p id="randomW">{{ hintW1 }}</p></div>
 </div>
</div>

<br>

 <div class="row">
    <div class="col-sm-4 btn bg-dark text-white"  data-bs-toggle="popover" data-bs-placement="bottom" title="CSA" data-bs-content="Some content inside the popover"><img class = "size" src = "/static/csa.png"></div>
    <div class="col-sm-4 btn bg-dark text-white"  data-bs-toggle="popover" data-bs-placement="bottom" title="VADA" data-bs-content="Some content inside the popover"><img class = "size" src = "/static/vada.png"></div>
    <div class="col-sm-4 btn bg-dark text-white"  data-bs-toggle="popover" data-bs-placement="bottom" title="Gym" data-bs-content="Some content inside the popover"><img class = "size" src = "/static/gym.png"></div>
  </div>
  
  <div class="row">
    <div class="col-sm-4 btn bg-dark text-white" data-bs-toggle="popover" data-bs-placement="left" title="Theater" data-bs-content="Some content inside the popover"><img class = "size" src = "/static/theater.png"></div>
    <div class="col-sm-4 btn bg-dark text-white" data-bs-toggle="popover" data-bs-placement="top" title="Quad" data-bs-content="Some content inside the popover"><img class = "size" src = "/static/quad.png"></div>
    <div class="col-sm-4 btn bg-dark text-white"  data-bs-toggle="popover" data-bs-placement="top" title="Cafeteria" data-bs-content="Some content inside the popover"><img class = "size" src = "/static/cafeteria.png"></div>
  </div>
 
   <div class="row">
    <div class="col-sm-4 btn bg-dark text-white" data-bs-toggle="popover" data-bs-placement="top" title="Library" data-bs-content="Some content inside the popover"><img class = "size" src = "/static/library.png"></div>
    <div class="col-sm-4 btn bg-dark text-white" data-bs-toggle="popover" data-bs-placement="top" title="Hallway" data-bs-content="Some content inside the popover"><img class = "size" src = "/static/hallway.png"></div>
    <div class="col-sm-4 btn bg-dark text-white" data-bs-toggle="popover" data-bs-placement="top" title="Senior Lawn" data-bs-content="Some content inside the popover"><img class = "size" src = "/static/lawn.png"></div>
 </div>
  
{% endblock %}
