{% extends "layout.html" %}

{% set active_page = "page2" %}

{% block title %}Accusation{% endblock %}

{% block content %}
 <h1>This is Page 2</h1>

  <p>Lorem ipsum</p>
	<form action='/page3'>
		<label for="test">It was </label>
		<span style="width:200px;">
		  <select name="Suspect" required>
			<option value="0" disabled>Select a suspect:</option>
			<option value="Adams">Mrs. Adams</option>
			<option value="Tormey">Tormey</option>
			<option value="Reussner">Mr. Reussner</option>
			<option value="Barr">Mrs. Barr</option>
			<option value="Jose">Jose</option>
			<option value="Lotze">Mr. Lotze</option>
		  </select>
		</span>
	
		<label for="test"> in the </label>
  
		<span style="width:200px;">
		  <select name="Room" required>
			<option value="0" disabled>Select a room:</option>
			<option value="Quad">Quad</option>
			<option value="Gym">Gym</option>
			<option value="Hallways">Hallways</option>
			<option value="Senior Lawn">Senior Lawn</option>
			<option value="Cafeteria">Cafeteria</option>
			<option value="VADA">VADA building</option>
			<option value="CSA">CS Academy</option>
			<option value="Library">Library</option>
			<option value="Theater">Theater</option>
		  </select>
		</span>

		 <label for="test"> with the </label>

  <h1>Submit an Accusation</h1>

  <p>Whodunnit?</p>

		<span style="width:200px;">
		  <select name="Weapon" required>
			<option value="0" disabled>Select a weapon:</option>
			<option value="Wires">Wires</option>
			<option value="Ruler">Ruler</option>
			<option value="Calculator">Calculator</option>
			<option value="Candlestick">Candlestick</option>
			<option value="Pencil">Pencil</option>
			<option value="Barbie">Barbie</option>
		  </select>
		</span>
		<label for="test">!</label>
		</p>	
		<button type="submit" class="btn btn-secondary mt-3">Submit</button>
	</form>
{% endblock %}
