{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}page1{% endblock %}

{% block content %}
  <h1>This is Page 1</h1>

  <p>Lorem ipsum sit dolor amet.</p>
  
  <span style="width:200px;">
  <input type="button"  class="btn btn-secondary btn-lg"id="buttonS" value="Suspect">
  <p id="randomS"></p>
  </span>
  <span style="width:200px;">
  <input type="button" class="btn btn-secondary btn-lg" id="buttonW" value="Weapon">
  <p id="randomW"></p>
  </span>
  <span style="width:200px;">
  <input type="button" class="btn btn-secondary btn-lg" id="buttonR" value="Room">
  <p id="randomR"></p>
  </span>
  <pre>
    {{ dump_user_data }}
  </pre>

{% endblock %}
