{% extends "layout.html" %}

{% set active_page = "page2" %}

{% block title %}Accusation{% endblock %}

{% block content %}
 <h1>Submit an Accusation</h1>

  <p>Whodunnit?</p>
	<form action='/page3' method="post">
		<label for="test">It was </label>
		<span style="width:200px;">
		
		  <select name="Suspect" required>
			<option value="0" disabled>Select a suspect:</option>
			<option value="Mrs. Adams">Mrs. Adams</option>
			<option value="Tormey">Tormey</option>
			<option value="Mr. Reussner">Mr. Reussner</option>
			<option value="Mrs. Barr">Mrs. Barr</option>
			<option value="Jose">Jose</option>
			<option value="Mr. Lotze">Mr. Lotze</option>
		  </select>
		</span>
	
		<label for="test"> in the </label>
  
		<span style="width:200px;">
		  <select name="Room" required>
			<option value="0" disabled>Select a room:</option>
			<option value="Quad">Quad</option>
			<option value="Gym">Gym</option>
			<option value="Hallway">Hallway</option>
			<option value="Senior Lawn">Senior Lawn</option>
			<option value="Cafeteria">Cafeteria</option>
			<option value="VADA building">VADA building</option>
			<option value="CS Academy">CS Academy</option>
			<option value="Library">Library</option>
			<option value="Theater">Theater</option>
		  </select>
		</span>

		 <label for="test"> with the </label>

		<span style="width:200px;">
		  <select name="Weapon" required>
			<option value="0" disabled>Select a weapon:</option>
			<option value="Wires">Wires</option>
			<option value="Diet Dr Pepper">Diet Dr Pepper</option>
			<option value="Calculator">Calculator</option>
			<option value="Stapler">Stapler</option>
			<option value="Pencil">Pencil</option>
			<option value="Barbie">Barbie</option>
		  </select>
		</span>
		<label for="test">!</label>
		</p>	
		<button type="submit" class="btn btn-secondary mt-3">Submit</button>
	</form>
{% endblock %}
